<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:utext="${title}"/>
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


</head>
<body>

<h3 th:utext="${title}"/>

<hr/>
<br/>

<a th:href="@{/users}">
    Users List
</a>

<br/>
<br/>
<div>Copyright © sergeigroshev.org</div>
</body>
</html>