<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <title>SHOW USER</title>
</head>
<body>

<br/>
<div>
    <h4>USER</h4>
</div>

<hr/>
<!--USER INFROMATION BLOCK-->
<div>
    <!--        th:text="-->
    <!--'ID : ' + ${userById.getId()} +-->
    <!--' , name = ' + ${userById.getName()} +-->
    <!--' , email = ' + ${userById.getEmail()}"-->
    <!--     -->
    <p th:utext="'ID : ' + ${userById.getId()}"></p>
    <p th:utext="'NAME : ' + ${userById.getName()}"></p>
    <p th:utext="'EMAIL : ' + ${userById.getEmail()}"></p>

</div>

<br/>
<hr/>

<!--USER EDIT BUTTON block-->
<div>
    <form th:action="@{/users/{id}/editUser(id=${userById.getId()})}">
        <input type="submit" value="EDIT USER">
    </form>

</div>

<br/>


<!--USER DELETE BUTTON block-->
<!--WE CAN NOT SEND DELETE REQUEST with"A" tag - should use FORM tag !!!-->
<!--    ALSO NEED TO put hiddenHttpMethodFilter to AppInit-->

<div>
    <form th:method="DELETE" th:action="@{/users/{id}(id=${userById.getId()})}">
        <input type="submit" value="DELETE">
    </form>
</div>

<br/>

<!--BACK to THE LIST BUTTON-->
<div>
    <form th:action="@{/users}">
        <input type="submit" value="BACK to the LIST">
    </form>
</div>

</body>
</html>