<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <title>SHOW USER</title>
</head>
<body>
<div>
    <br/>
    USER
    <hr/>

</div>

<div th:text="
'ID : ' + ${userById.getId()} +
' , name = ' + ${userById.getName()} +
' , email = ' + ${userById.getEmail()}">
</div>


</body>
</html>